.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.context{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 70%;
}
.image img{
    width: 450px;
    height: 450px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.title{
    display: flex;
    align-items: center;
}
.line{
    background-color: #E82574;
    height: 3px;
    width: 60px;
  }
  .btn {
    width: 130px;
    height: 40px;
    background-color: #E82574;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #be1458;
  }
  .title p{
    font-family: Poppins, sans-serif;
    font-size:16px ;
    font-weight: 500;
    color: #0c0a09;
    margin-right: 10px;
    letter-spacing: 2px;
  }
  .title h1{
    font-family: Poppins, sans-serif;
    font-size:55px ;
    font-weight: 600;
    color: #0c0a09;
  }
  .focus {
    font-family: Poppins, sans-serif;
    font-size:16px ;
    font-weight: 500;
    color: #78716c;
  }


  @media(max-width:1024px){
    
    .context{
      margin-top: 40px;
      display: flex;
      flex-direction: column;
    }
    .image img{
      width: 500px;
    }
    .focus{
      width: 500px;
    }
  }

  @media(max-width:530px){
    .image img{
      width: 400px;
      height: auto;
      /* margin-top: 250px; */
    }
    .focus{
      width: 400px;
    }
   
  }

  @media(max-width:402px){
    .image img{
      width: 300px;
      height: auto;
      
    }
    .focus{
      width: 300px;
    }
    .text h1{
      font-size: 20px;
    }
  }
  @media(max-width:333px){
    .image img{
      width: 250px;
      height: auto;
      
    }
    .focus{
      width: 250px;
    }
    .text h1{
      font-size: 20px;
    }
  }