
.homeHeader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 1000;
}

/* Digər səhifələr üçün Header */
.otherHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #246B81;
}

/* Header-in daxili kontenti */
.context {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

/* Logo */
.logo h1 {
    color: white;
}

/* Navbar */
.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

/* Login və Register düymələri */
.logreg {
    display: flex;
    gap: 10px;
}

.login,
.register {
    width: 120px;
    height: 40px;
    background-color: #d81c67;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    font-size: 16px;
}

.login:hover,
.register:hover {
    background-color: #90063d;
}
.userMenu {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
  }
  
  .userIcon {
    color: white;
  }
  
  .logoutBtn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
  }
  .menuBtn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .mobileMenu {
    padding: 20px;
  }
  
  .mobileMenu ul {
    list-style: none;
    padding: 0;
  }
  
  .mobileMenu li {
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 768px) {
    .menuBtn {
      display: block;
      position: absolute;
      right: 20px;
      top: 20px;
    }
  
    .navbar {
      display: none;
    }
  }
  




