.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.carouselContainer {
  position: relative;
  padding: 20px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
}


@media (max-width: 1024px) {
  .image {
    max-height: 300px;
  }
}

@media (max-width: 768px) {
  .image {
    max-height: 250px;
  }
}

@media (max-width: 480px) {
  .image {
    max-height: 200px;
  }
}
